@{
    ViewBag.Title = "Acesso negado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Acesso negado</h2>

<p>Você não possui permissão para acessar o recurso solicitado. Contate o administrator do sistema.</p>