@{
    ViewBag.Title = "GEMA";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
            </p>
        </div>
    </section>
}
<h3>PROJETO DE GESTÃO DE MATÉRIAS </h3>
<ol class="round">
    <li class="one">
        <h5>Objetivo do projeto </h5>
        O sistema consiste no envio de uma matéria por um jornalista usando um editor de texto simples.
    </li>

    <li class="two">
        <h5>Após o envio da matéria, a mesma é revisada pelo revisor,</h5>
        podendo editar a mesma juntamente com o jornalista, ambos devem decidir se a matéria em questão deve ser aprovada ou arquivada.
    </li>

    <li class="three">
        <h5>Havendo a aprovação,</h5>
        a mesma deverá ser publicada por um terceiro usuário com o papel de publicador.
    </li>

    <li class="four">
        <h5>Todo esse processo é acompanhado por um gerente responsável, </h5>
        podendo comentá-la a qualquer momento, mas sem a opção de edição.
    </li>
</ol>
